* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 100vh;
}
.todo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}
#todo-input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 3;
}
.add-btn {
  background-color: #b3fa70;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  flex: 1;
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 300px;
  overflow-y: scroll;
  scrollbar-width: thick;
  padding: 20px 10px;
  border: 2px solid #ccc;
}
.list::-webkit-scrollbar {
  width: 10px;
  height: 20px;
  background-color: #ff6b6b;
}
.list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
  width: 100%;
}
.list li button {
  background-color: #ff6b6b;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  color: gray;
}